
@charset "utf-8";

body { font-size: 62.5%; }

img{ border:0; }	
a{ text-decoration:none; }
a:hover{ text-decoration:underline; }
strong{	font-weight:bold; }	

select { width:14%; padding: .25em; }
textarea { padding: .4em; }	
/*label, input { display:block; }*/
input.text { margin-bottom:10px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:15px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

#dialog-form #left {float:left;width:50%;/*border: 1px solid #FF0;*/}
#dialog-form #left .fbConnect {padding-top:40px; text-align:center; }
#dialog-form #right {float:right;width:50%;/*border: 1px solid #FF0;*/}
#dialog-login #left {float:left;width:50%;/*border: 1px solid #FF0;*/}
#dialog-login #left .fbConnect {padding-top:13px; text-align:center; }
#dialog-login #right {float:right;width:50%;/*border: 1px solid #FF0;*/}

#hidden-message-register textarea { width: 95%; }

#write-form textarea { width: 99%; }

#hidden-message-set input.text { margin-bottom:0px; width:97%; padding: .4em; }
#hidden-message-set select.text { margin-bottom:2px; width:30%; padding: .31em; }

#hidden-message-mypage input.text { margin-bottom:0px; width:97%; padding: .4em; }
#hidden-message-mypage-fb input.text { margin-bottom:0px; width:97%; padding: .4em; }
#hidden-message-mypage-tw input.text { margin-bottom:0px; width:97%; padding: .4em; }
#hidden-message-mypage-gg input.text { margin-bottom:0px; width:97%; padding: .4em; }

#_search input.text { margin-bottom:0px; padding: .23em; }





.hidden { position:absolute; top:0; left:-9999px; width:1px; height:1px; overflow:hidden; }
	
.fg-button { clear:left; margin:18px 0px 0px 35px; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
.fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
a.fg-button { float:left;  }
button.fg-button { width:auto; overflow:visible; } /* removes extra button width in IE */

.fg-button-icon-left { padding-left: 4.1em; }
.fg-button-icon-right { padding-right: 65px; }
.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	

.fg-button.ui-state-loading .ui-icon { background: url(../img/spinner_bar.gif) no-repeat 0 0; }